<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>视觉编译 - 内测版</title>
    <link rel="stylesheet" href="/css/edit/edit.css" />
  </head>

  <body class="page-list">
    <!-- 顶部 -->
    <%- include("./template/edit/header.ejs") %>
    <!-- 主要内容区域 -->
    <main>
      <!-- 左:导航 -->
      <%- include("./template/edit/left.ejs") %>
      <!-- 中:预览 -->
      <%- include("./template/edit/center.ejs") %>
      <!-- 右:编辑区 -->
      <!-- 素材库/编辑 -->
      <!-- 侧边栏属性显示 -->
      <%- include("./template/edit/right.ejs") %>
    </main>
    <!-- seajs -->
    <script src="js/lib/seajs/sea.js"></script>
    <script>
      //获取当前所有结构数据：需要单引号去引用值——'<%- data %>',不要用双引号
      let pagesData = JSON.parse('<%- data %>');
    </script>
    <script>
      seajs.config({
        base: "/",
        alias: {
          jquery: "js/lib/jquery.min.js",
          vue: "js/vue.js",
          util: "js/util/util.js",
          //复制剪切板插件
          clipboard: "js/lib/clipboard.min.js",
          //图片查看器
          magnify: "js/lib/jquery.magnify.js",
          //二维码插件
          qrcode: "js/lib/jquery.qrcode.min.js",
          //页面弹框插件
          layer: "layer.js",
          slider: "js/lib/bootstrap-slider.js",
          editUtil: "js/edit/edit-util.js",
          unitSetting: "js/edit/unit-setting.js",
          measure: "js/edit/measure.js",
          iframeDom: "js/edit/iframe-dom.js"
        },
        preload: [
          "jquery",
          "clipboard",
          "util",
          "editUtil",
          "unitSetting",
          "measure",
          "iframeDom",
          "vue"
        ]
      });
      seajs.use(
        [
          "jquery",
          "clipboard",
          "magnify",
          "qrcode",
          "layer",
          "vue",
          "slider",
          "util",
          "js/edit/group.js",
          "js/edit/ai.js",
          "js/edit/userinfo.js",
          "js/edit/history.js",
          "js/edit/zoom.js",
          "js/edit/compare.js",
          "editUtil",
          "unitSetting",
          "measure",
          "iframeDom",
          "js/edit/edit.js"
        ],
        function($, Clipboard, edit) {
          //主数据初始化
          TOSEEAPP.init();
          //AI服务
          //new AIService().init();
          //历史记录
          new HistoryService().init();
          //放大缩小操作类
          new Zoom();
          //比对操作类
          new Compare();
        }
      );
    </script>
  </body>
</html>
